body {
    margin: 0;
    padding: 0;
    background: #F1E0C5;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 600px;
    height: 600px;
}

.listContainer {
    position: absolute;
    width: 300px;
    height: 600px;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    background: #C9B79C;
    color: white;
}

.dashboard {
    position: absolute;
    margin-left: 10px;
    left: 300px;
    width: 300px;
    height: 600px;
}

.numberFields {
    width: 300px;
    height: 295px;
    margin-top: 20px;

    font-family: "inter";
    box-sizing: border-box;
    border-radius: 20px;
    background: #C9B79C;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputFields {
    width: 300px;
    height: 295px;
    margin-top: 10px;
    box-sizing: border-box;
    font-family: "inter";
    border-radius: 20px;
    background: #C9B79C;
    color: black;
}

.fieldsContainer {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fas.fa-times {
    float: right;
}

.fas.fa-times:hover {
    cursor: pointer;
}

.text {
    display: inline;
}

.amount {
    display: inline;
}

.dashboard p {
    text-transform: uppercase;
    margin: 0;
    padding: 5px 0 5px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px 30px;
    font-size: 20px;
    font-family: "inter";
    color: black;
}

.tableKey {
    width: 100px;
    text-align: right;
}

/*
button {
    color: white;
    background: #274C77;
    text-transform: lowercase;
    border: 2px solid white;
    border-radius: 5px;
}
*/

button:hover {
    cursor: pointer;
}

input {
    width: 100px;
}